body{
    margin: 0;
    background-color: #EFEADD;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top {
    background-color: #CDD9C5;
    margin: 0;
    padding-top: 100px;
    position: relative;
}
.middle{
    
}
.bottom{
    
}
.tea{
    text-decoration: underline;
}
.bottom-tea{
    position: absolute;
    top: 50px;
    left: 300px;
}
.top-tea{
    position: absolute;
    right: 300px;
    top: 50px;
}
.ingredient{
    border-radius: 30px;
}
.make{
    border-radius: 30px;
    max-width: 500px;
}